<%= form_for [@merchant], url: "/admin/merchants/#{@merchant.id}/", method: :patch do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Submit" %>
<% end %>